.featured {
    margin-top: 100px; 
    display: flex;
    justify-content: center;
    z-index: -1;
}
.featuredImage{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.featureItem{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    
}
.featureContainer{
    /* gap: 10px; */
    /* z-index: 1; */
    justify-content: space-evenly;
     display: flex;
     gap: 20px;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    /* position: absolute; */
   
   

}
.featureTitle  {
    font-size: 10px;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: -100px;
}
